# Python cache & artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/

# Virtual Environment
.env
.envrc
.venv
env/
venv/
ENV/

# Editor & OS files
.vscode/
.idea/
*.swp
*.swo
tempCodeRunnerFile.py
.DS_Store
Thumbs.db
colab.db